@import url('https://fonts.googleapis.com/css2?family=Reenie+Beanie&display=swap');


.botonx{
    border: 0px;
    font-size: 20px;
    /* width: 0px; */
    /* height: 0%; */
    /* height: 1px; */
    /* background-color: black; */
    /* vertical-align: 34444444px; */
    margin-inline: 240px;
    margin-top: -30000002222222220%;
    /* margin-inline: 240px; */
}

.card-title{
    margin-top: -2%;
}
.card-text{
    margin-top: 5%;
    font-family: 'Reenie Beanie', cursive;
}
.card-body{
  margin-top: -11px;
}

/* Style the counter cards */
.card {
    box-shadow: 6px 4px 8px 0  #111    ;
    /* this adds the "card" effect */
    /* padding: 16px; */
    /* background-color: white; */
    width: 280px;
    height: 280px;
    border-radius: 0%;
    margin-bottom: 13%;
    margin-left: 20%;
    /* padding-left: 20%; */
    /* transform: rotate(-5deg); */
    /* animation: card 50s linear infinite;
    animation-delay: calc(var(--delay) * 0s); */
    /* animation-duration: 0s; */
}
/* @keyframes card {
    
     0% { transform: rotate(5deg);}
    50% {
      transform: rotate(-5deg);
    }
  } */
/* Responsive columns - one column layout (vertical) on small screens */

@media screen and (max-width: 600px) {
    .card-body {
      width: 100%;
      margin-bottom: 20px;
      margin-left: -10px;
    }
    
  }
  @media screen and (max-width: 1200px) {
    .card-body {
      width: 100%;
      margin-top: -13px;
      margin-bottom: 20px;
      margin-left: -10px;
    }
    .botonx{
      border: 0px;
      width: 1%;
      /* height: 1%; */
      font-size: 19px;
      margin-top: auto;
      /* font-size: medium; */
      /* background-color: white; */
      /* BACcolor: transparent; */
      vertical-align: 20px;
      margin-inline: 240px;
      /* margin-top: 0.1px; */
      /* margin-inline: 240px; */
  }
}
@media screen and (max-width: 950px) {
  .card-body {
    width: 100%;
    margin-bottom: 20px;
    margin-left: -10px;
    
  }
}
@media screen and (max-width: 840px) {
  .card-body {
    width: 100%;
    margin-bottom: 20px;
    margin-left: -10px;
  }
  
}
@media screen and (max-width: 520px) {
  .card-body {
    width: 100%;
    margin-bottom: 20px;
    margin-left: -10px;
  }
}
